<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>generative-art-platform</title>
    <link rel="stylesheet" href="./static/bootstrap/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Generative Art</title>
</head>
<body>
<div class="jumbotron text-center">
    <h1>Generative Art</h1>
    <p>
        <a href="https://github.com/Sam-Sims/spotify-flask">Availible on GitHub</a>
        <br>
        Developed using flask, python and p5js.
    </p>
</div>
{% block content %}{% endblock %}